.minimal-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-main {
    flex-grow: 1;
}

.desktop-nav {
    display: flex;
    gap: 2rem;
}